<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css  -->
    <link rel="stylesheet" href="/home.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <link rel="shortcut icon" href="/common/img/home/fork.png" type="image/x-icon">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Zilla+Slab:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/27f6149baa.js" crossorigin="anonymous"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>

    <title>Delish2Go</title>
</head>




<body>

    <section id="navbar">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <div class="uk-position-relative ">
        <div class="uk-position-top">
            <nav style="background-color: white;" class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-item">
                    <h1 class="logoColor"> <i class="fas fa-utensils"></i> Delish2Go</h1>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item">
                        <a class="linkClass" href="/#about">About</a>
                    </div>
                    <div class="uk-navbar-item">
                        <a class="linkClass" href="/#why">WHY & HOW? </a>
                    </div>
                    <div class="uk-navbar-item">
                        <a class="linkClass" href="/#contact">Contact Us</a>
                    </div>
                    <div class="uk-navbar-item">
                        <button class="btn"><a href="/restaurant/orders" style="text-decoration: none; color: white;">Restaurant</a></button>
                    </div>
                    <div class="uk-navbar-item">
                        <button class="btn"><a href="/deliveryPersonnel" style="text-decoration: none; color: white;">Delivery Person</a></button>
                    </div>
                    <div class="uk-navbar-item ">
                         <a class="linkClass" href="/myOrders"> <button class="btn">Past Orders</button></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    </div>

    </section>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <section id="home">
        <div class="home">
            <div class="homeleft">
                <h1 class="fontHeading">HUNGRY?</h1>
                <h3>Order food from favourite restaurants near you.</h2>



                    <!-- <select id="selectValue">
                        <option value="Coimbatore">Coimbatore</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Mumbai">Mumbai</option>
                    </select> -->
                     <select name="city" id="selectValue" >
                        <option value="" disabled selected>Choose City</option>
                        <% for(let i=0; i<cities.length; i++) {%>
                            <option value="<%= cities[i] %>"><%= cities[i] %></option>
                        <% } %>
                    </select>
                    <button class="homebtn" type="button" onclick="resValue()">Search</button>

                <i class="fa fa-search homei" aria-hidden="true"></i>


                <!-- <input class="homesearch" type="search" name="">
                <i class="fa fa-search homei" aria-hidden="true"></i> -->

                <h5>POPULAR CITIES IN INDIA</h5>
                <h6 class="fontStyle">Ahmedabad Bangalore Chennai Delhi Hyderabad Mumbai & more.</h6>
            </div>

            <div class="homeright">
                <!-- <div class="homemid"></div> -->
                <h2 class="h2Class fontHeading">Decentralized Food Delivery Service
                    Connecting Restaurants and Customers
                    via Smart Contracts</h2>

                <p class="homePara fontStyle"> Bringing Crypto and Food to the masses, taking away the power of the centralized companies
                    with a decentralized food order system using distributed ledger technology.</p>



            </div>



        </div>
    </section>


<!---------------------------------------------------------------------------------------------------------------------------------------------------------- -->


    <section id="about">
        <div class="aboutUs">


            <hr class="abouthr">

            <h1 class="fontHeading abouth1">About Us</h1>

            <div class="uk-column-1-2 aboutcol">
                    <div class="uk-card uk-card-hover uk-card-bodys">
                        <p class="fontStyle" style="padding-top: 100px;">Our Ecosystem provides one decentralized Food Order System for all: Food Sharing, Restaurants and Cooks with a takeaway or delivery service</p>
                        <p class="fontStyle" style="padding-bottom: 100px;"> Nowadays most of all Food Orders coming from online services provided by centralized companies taking nearly half of the earnings of every Restaurant using their service!</p>
                    </div>
                <div class="uk-card uk-card-hover uk-card-body">
                    <div class="imgCard">
                        <img class="aboutUsImg" src="/common/img/home/aboutus.png" alt="aboutusimage">
                    </div>
                </div>
            </div>
            <div style="margin-top: 30px;">
                <div class="uk-column-1-2">
                    <div class="uk-card uk-card-hover uk-card-body">
                        <p class="fontStyle">As many Restaurants faceing problems with high fees for orders using centralized online delivery services, Dlivery can connect People with Restaurants using Smart Contracts and minimize costs for both, Customer and Restaurants. Public Blockchains like Ethereum can replace traditional middle man businesses with Smart Contracts generating the layer of trust.</p>
                    </div>

                    <div class="uk-card uk-card-hover uk-card-body about2">
                        <p class="fontStyle about2">Every Consumer using the decentralized online food delivery service can now rely on trustful reputations of Restaurants with a forgery-proof Rating System using Blockchain Id.</p>
                    </div>
                </div>
            </div>

            </div>
    </section>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------- -->


    <section id="why">
        <div class="whyHow">
            <hr class="whyhr">
            <h1 class="fontHeading whyh1 ">Why Blockchain is used?</h1>
                <table class="whytable">
                    <tr>
                        <td class="whytd">
                            <div class="whyContents1">
                            <div class="blocktext">
                                <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <i class="fas fa-dollar-sign fa-6x whyi"></i>                                  </div>
                                  <div class="flip-card-back">
                                    <h1 class="fontHeading fliph1">Lees fees</h1>

                                    <p class="fontStyle">Minimize costs using fast and secure transactions with a reliable and transparent payment system</p>
                                </div>
                                </div>
                              </div>
                            </div>
                            </div>
                        </td>

                        <td class="whytd">
                            <div class="whyContents2">
                            <div class="blocktext">
                                <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <i class="fas fa-database fa-6x whyi"></i>                                  </div>
                                  <div class="flip-card-back">
                                    <h1 class="fontHeading fliph1">Decentralization</h1>
                                    <p class="fontStyle">Disrupt the power of centralized entities taking huge percentages from restaurants for using their service</p>
                                </div>
                                </div>
                              </div>
                            </div>
                            </div>
                        </td>

                        <td class="whytd">
                            <div class="whyContents3">
                            <div class="blocktext">
                                <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <i class="fas fa-user-shield fa-6x whyi"></i>                                  </div>
                                  <div class="flip-card-back">
                                    <h1 class="fontHeading fliph1">Trustful reputation</h1>
                                    <p class="fontStyle">Protect users with a forgery-proof rating system through blockchain id</p>
                                </div>
                                </div>
                              </div>
                            </div>
                            </div>
                        </td>

                        <td class="whytd">
                            <div class="whyContents4">
                            <div class="blocktext">
                                <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <i class="fas fa-burn fa-6x whyi"></i>                                  </div>
                                  <div class="flip-card-back">
                                    <h1 class="fontHeading fliph1">Synergy</h1>
                                    <p class="fontStyle">Boost the search ranking of one single food ordering system for all restaurants with shared SEO & marketing through the bundled power of the network effect</p>
                                </div>
                                </div>
                              </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                </table>
        </div>
    </section>



<!---------------------------------------------------------------------------------------------------------------------------------------------------------- -->


    <section id="contact">
        <div class="contactUs">
            <h1 class="fontHeading contacth1">Contact us through</h1>
            <hr class="contacthr">
                    <div class="contacttable">
                        <table>
                        <tr class="contacttr">
                            <td class="contacttd" style="padding-left: 50px;"><i class="fab fa-linkedin fa-2x contacti"></i></td>
                            <td class="contacttd"><i class="fab fa-facebook-square fa-2x contacti"></i></td>
                            <td class="contacttd"><i class="fab fa-twitter-square fa-2x contacti"></i></td>
                            <td class="contacttd"><i class="fab fa-youtube-square fa-2x contacti"></i></td>
                            <td class="contacttd" style="border-right: none;"><i class="fab fa-github-square fa-2x contacti"></i></td>
                        </tr>
                    </table>

                    <div class="contactli">
                        <table>
                            <tr>
                                <td class="contactlitd">Teams</td>
                                <td class="contactlitd">About</td>
                                <td class="contactlitd">Partners</td>
                            </tr>
                            <tr>
                                <td class="contactlitd">News</td>
                                <td class="contactlitd">Why&How?</td>
                                <td class="contactlitd">ICO</td>

                            </tr>
                            <tr>
                                <td class="contactlitd">Contact</td>
                                <td class="contactlitd">Faqs</td>
                            </tr>
                            <tr>
                                <td class="contactlitd">Join Us</td>
                                <td class="contactlitd">About</td>
                            </tr>
                            <tr>
                                <td class="contactlitd">Token</td>
                                <td class="contactlitd">Investment</td>
                            </tr>
                        </table>
                    </div>
                    </div>
        </div>
    </section>

    <div class="footer">
        <!-- <hr class="footerhr"> -->
        <p class="footerc">copyright &copy; 2020, Delish2Go</p>
    </div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<hr class="footerhr">

<script>
    function resValue() {
            var City = document.querySelector("#selectValue");
            window.location.href = `http://localhost:3000/restaurants/${City.value}`;
    }
</script>

</body>
</html>
