<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delish 2 Go</title>

     <!-- css  -->
     <link rel="stylesheet" href="/login.css">

     <!-- google fonts -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- jQuery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

     <!-- Compiled and minified Materialize CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified Materialize JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168821880-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-168821880-2');
    </script>
</head>
<body>
    <div class="login-card-container">
        <div class="login-card card">
            <div class="logo"><img src="/common/img/home/fork.png" alt=""></div>
            <div class="brand"><span>Delish 2 Go</span></div>
            <div class="login-btn"><a class="btn orange waves-effect waves-light">Login</a></div>
        </div>
    </div>


    <script src="/common/js/portis.js"></script>
    <script src="/common/js/web3.min.js"></script>
    <script src="/common/js/truffle-contract.js"></script>
    <script src="/common/js/jquery.cookie.js"></script>
    <script src="/common/js/d2g_util.js"></script>
    <script src="/login.js"></script>
</body>
</html>