<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- jQuery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="row">

                        <div class="col s12 input-field">
                            <input type="text" id="dish-name">
                            <label for="dish-name">Dish Name</label>
                        </div>

                        <div class="col s6 input-field">
                            <input type="text" id="dish-price">
                            <label for="dish-price">Price</label>
                        </div>

                        <div class="col s6 input-field">
                            <select  id="dish-type" >
                                <option value="" disabled selected>Choose Type</option>
                                <option value="veg">Veg</option>
                                <option value="non veg">Non Veg</option>
                              </select>
                            <label for="dish-type">Type</label>
                        </div>

                        <div class="file-field input-field col s12">
                            <div class="btn">
                            <span>Image</span>
                            <input type="file" name="dish_img" id="dish-img">
                            </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" name="dish_img_name" type="text">
                            </div>
                        </div>

                        <div class="col s12 input-field">
                            <input type="text" id="dish-des">
                            <label for="dish-des">Description</label>
                        </div>

                        <button class="btn green" id="dish-add-btn">Add Dish</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/restaurant/js/dish_restaurant.js"></script>
</body>
</html>