<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

     <script
  src="https://cdn.jsdelivr.net/npm/@portis/web3@2.0.0-beta.56/umd/index.js"
  integrity="sha256-YglsZuKbHpe2+U4HYCd3juAiADRTU7Ys2AGfCGY+Nmo="
  crossorigin="anonymous"
></script>

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="card">                  
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="restaurant_name" id="res-name" class="name">
                            <label for="res-name">Restaurant Name</label>                    
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input type="tel" name="phone" id="res-phone" class="validate">
                            <label for="res-phone">Phone</label>                    
                        </div>
                        <div class="input-field col s6">
                            <!-- <input type="text" id="res-type" class=""> -->
                            <select name="type" id="res-type" >
                                <option value="" disabled selected>Choose Type</option>
                                <option value="veg">Veg</option>
                                <option value="non veg">Non Veg</option>
                            </select>
                            <label >Type</label>                    
                        </div>

                        <div class="input-field col s6">
                            <input type="text" name="start_time" id="start-time" class="timepicker">
                            <label for="start-time">Start Time</label>                    
                        </div>
                        <div class="input-field col s6">
                            <input type="text" name="close_time" id="close-time" class="timepicker">
                            <label for="close-time">Close Time</label>                    
                        </div>
                        <div class="input-field col s6">
                            
                            <select name="holiday" id="res-holiday" >
                                <option value="" disabled selected>Choose Day</option>
                            </select>
                            <label for="res-holiday">Holiday</label>                    
                        </div>
                        <div class="input-field col s6">
                            <!-- <input type="text"> -->
                            
                            <select name="city" id="res-city" >
                                <option value="" disabled selected>Choose City</option>
                                <% for(let i=0; i<cities.length; i++) {%>
                                    <option value="<%= cities[i] %>"><%= cities[i] %></option>
                                <% } %>
                            </select>
                            <label for="">City</label>                    
                        </div>
                        <div class="file-field input-field col s12">
                            <div class="btn">
                            <span>Image</span>
                            <input type="file" name="res_img" id="res-img">
                            </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" name="res_img_name" type="text">
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" id="res-address" name="address" class="resAddress">
                            <label for="res-address">Address</label>                    
                        </div>                        
                        
                        <div class="col s12">
                            <button class="register-btn btn blue">Register</button>
                        </div>
                    </div>                                   
                </div>
            </div>
        </div>
    </div>
    <!-- <input type="text" class="name">
    <button class="submit">submit</button> -->
    <div><ul class="list"><li class="l-element"></li></ul></div>

    <script src="/common/js/portis.js"></script>
    <script src="/common/js/web3.min.js"></script>
    <script src="/common/js/truffle-contract.js"></script>
    <script src="/common/js/jquery.cookie.js"></script>
    <script src="/common/js/d2g_util.js"></script>
    <script src="/restaurant/js/register_r.js"></script>
    
</body>
</html>