html {
  scroll-behavior: smooth;
}


/* navbar section  */

.btn {
  background-color: #3399ff;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: white;
}

.btn:hover {
  cursor: pointer;
}

.space {
  width: 150px;
}

i {
  color: #3399ff;
}

.linkClass {
  color: #3399ff;
}

.linkClass:hover {
  text-decoration: none;
}

.logoColor {
  color: #3399ff;
}

/* home section  */

.home {
  height: 700px;
  background-color: #3399ff;
}

.h2Class {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

.homePara {
  color: white;
}

.homeleft {
  display: inline-block;
  height: 600px;
  width: 700px;
}

.homeleft h1 {
  margin-top: 200px;
  margin-left: 30px;
  color: #fff;
}

.homeleft h3 {
  margin-left: 30px;
  margin-top: -10px;
  color: white;
}

.homeleft h5 {
  margin-left: 30px;
  margin-top: 40px;
  color: white;
}

.homeleft h6 {
  margin-left: 30px;
  color: white;
  margin-top: -10px;
}

.homeright {
  text-align: center;
  display: inline-block;
  height: 600px;
  width: 600px;
}

.homesearch {
  height: 40px;
  width: 200px;
  position: absolute;
  top: 357px;
  left: 260px;
  border: 1px solid white;
  border-radius: 30px;
}

.homemid {
  position: absolute;
  height: 420px;
  background-color: white;
  width: 1px;
  border-radius: 40px;
  top: 150px;
  right: 830px;
}

select {
  background-color: #fff;
  padding: 10px;
  color: #3399ff;
  font-size: 20px;
  border: 2px solid white;
  margin: 40px 0 0 70px;
  border-radius: 1px;
}

.homebtn {
  background-color: #fff;
  color: #3399ff;
  padding: 15px 20px 15px 0;
  border: 1px solid #3399ff;
  width: 110px;
  font-size: 15px;
  position: absolute;
  top: 352px;
  left: 221px;
}

.homebtn:hover {
  cursor: pointer;
}

.homei {
  color: #3399ff;
  position: absolute;
  top: 368px;
  left: 300px;
}

.right-home-container{
  position: relative;
}

.right-home-container::before{
  
    content:"hi ";
    width:3px;
    height:60%;
    left:0;
    top:150px;
    position:absolute;
    z-index:9;
    /* background:linear-gradient(to right, white 50%, brown 50%); */
    background: #fff;
  
}

/* ----------------------------------------------------------------- */

/* aboutus section  */

.abouthr {
  height: 10px;
  background-color: white;
  width: 150px;
  /* position: absolute;
  left: 570px;
  top: -50px; */
  border-radius: 40px;
}

.abouthr-b {
  height: 10px;
  background-color: #3399ff;
  width: 150px;
  /* position: absolute;
  left: 570px;
  top: -50px; */
  border-radius: 40px;
}

.aboutUs {
  position: relative;
  padding: 50px 30px;
  height: 800px;
  background-color: white;
  text-align: center;
  color: #3399ff;
}

.aboutcol {
  position: relative;
  top: 10px;
}

.aboutUsImg {
  height: 300px;
}

.aboutHeading {
  font-size: 20px;
  font-weight: 200;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.about2 {
  margin-top: 40px;
}

.abouth1 {
  color: #3399ff;
}

/* ----------------------------------------------------------------- */

/* why and how section  */

.whyHow {
  height: 800px;
  background-color: #3399ff;
  position: relative;
}

.whyhr {
  height: 10px;
  background-color: white;
  width: 100px;
  /* position: absolute;
  left: 600px;
  top: 30px; */
  border-radius: 40px;
}

.fliph1 {
  color: #3399ff;
  padding: 15px;
  font-size: 30px;
}

.whyh1 {
  color: white;
  /* position: absolute;
  top: 60px;
  left: 450px; */
}

.whyi {
  color: #3399ff;
  margin-top: 90px;
}

.whypara {
  /* position: relative;
  color: white;
  top: 180px;
  left: 100px;
  font-size: 25px; */
}

.whytable {
  /* position: relative; */
  /* top: 250px; */
}

.whytd {
  /* padding: 0 30px; */
}

.whyContents1 {
  /* position: relative; */
  /* left: 100px; */
}

.whyContents2 {
  /* position: relative; */
  /* left: 200px; */
}

.whyContents3 {
  /* position: relative; */
  /* left: 300px; */
}

.whyContents4 {
  /* position: relative; */
  /* left: 400px; */
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
}
.blocktext {
  /* margin-left: auto;
  margin-right: auto;
  width: 8em; */
}
.flip-card-inner {
  position: relative;
  width: 250px;
  height: 300px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 250px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  width: 250px;
  height: 300px;
  color: black;
}

.flip-card-back {
  background-color: white;
  width: 250px;
  height: 300px;
  color: #3399ff;
  padding: 0 1.5em 0 1.5em;
  transform: rotateY(180deg);
}

/* ----------------------------------------------------------------- */

/* contactus section  */

.contactUs {
  /* height: 600px; */
  background-color: #3399ff;
  position: relative;
}

.contacthr {
  height: 10px;
  background-color: white;
  width: 150px;
  position: absolute;
  left: 600px;
  top: -110px;
  border-radius: 40px;
}

.contacttable {
  background-color: #fff;
  width: 600px;
  position: absolute;
  left: 380px;
  top: 120px;
  height: 70px;
  border-radius: 10px;
  padding-top: 10px;
}

.contacttd {
  color: #3399ff;
  padding: 16px 40px 0;
  text-align: center;
  border: 1px solid #3399ff;
  border-left: none;
  border-bottom: none;
  border-top: none;
}

.contacti:hover {
  cursor: pointer;
  position: relative;
  bottom: 15px;
}

.contactli {
  color: white;
  position: relative;
  top: 80px;
  left: 90px;
}

.contactlitd {
  padding: 10px 40px 0px;
}

.contacth1 {
  color: white;
  text-align: center;
}

.profile img{
  width: 150px;
  height: 150px !important;
  object-fit: cover;
}

.profile a{
  color: #fff;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* footer  */

.footer {
  /* position: relative; */
  background-color: #0058af;
  /* background-image: linear-gradient(#3399ff,#0058af 35%); */
  height: 85px;
}

.footer i{
  font-size: 14px;
  color: #fff;
}

body {
  background-color: #3399ff;
  /* position: relative; */
  margin: 0;
}

.footerhr {
  /* background-color: white; */
  width: 100%;
  border-top: 1px solid white;
  /* border-bottom: none;
  border-left: none;
  border-right: none; */
  opacity: 0.2;
}

.footerc {
  color: white;
  /* position: absolute; */
  
  /* bottom: 10px;
  left: 600px; */
  font-size: 13px;
}

html {
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------------------------- */

/* common styles */

.fontStyle {
  font-family: "Zilla Slab", serif;
  font-style: italic;
  font-weight: 400;
  font-size: large;
}

.fontHeading {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
