.login-card-container{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(#8cbdec, #2e7cc7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 350px;
    height: 340px;
    padding: 3.5em 2em 2em 2em;
}

.logo img{
    width: 25%;
    object-fit: cover;
    margin: 0 50%;
    transform: translateX(-50%);
}

.brand{
    margin-top: 1em;
}

.brand span{
    font-weight: bold;
    font-size: 32px;
    color: #5aa2e8;
}

.login-btn{
    margin: 4.6em 0 0 0;
    width: 100%;
}

.login-btn a{
    width: 100%;
}